.game {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.board {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.board-row {
    display: flex;
    justify-content: space-evenly;
    width: 356px;
    height: 115px;
}

.mark {
    display: flex;
    justify-content: center;
    align-content: bottom;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    font-size: 23px;
}

